.product {
    height: 510px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid rgb(207, 233, 233);
    position: relative;


}

.product img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}
.product-info{
    margin-left: 14px;
}
.title{
    margin-top: 0;
}
.product-info p {
    margin: 1px;
}
.btn-cart{
    background: #f0ca35d6;
    width: 100%;
    position: absolute;
    bottom:0;
}
.btn-cart:hover{
    background: #78ca1ab8;
}